/**TEST CLASSES, CLEAN UP!**/
.date-time-row{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.date-time-row:last-child{
	border-bottom-style: none
}

.date-time-row:hover:not(.header-row){
	background-color: #EEEEEE;
}

.date-time-row button{
	max-width: 30px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
}

.date-time-row i{
	text-align: center;
}

.date-time-row span{
    display: inline-flex;
    flex-direction: row;
    align-items: center;	
}

.header-row{
	color: rgba(0,0,0,.54);
	text-align: left;
	font-size: 12px;
}

.vote-count{
	text-align: center;
}

.vote-count > span{
	height: 100%;
}

.dateTimeDetails-link{
	display: flex;
	color: inherit;
	width: 100%;
	text-decoration: none;
}

.vote-button{
	transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
}

.accept{
	color: #4CAF50;
	margin-right: 5px
}

.decline{
	color: red;
}

.vote-selected{
	color: white;
}

.accept.vote-selected{
	background-color: #4CAF50;
}

.decline.vote-selected{
	background-color: red;
}
