<ssFormPage [@fadeInOutOnLoad]="formState" [style.display]="loading ? 'none' : 'block' ">

	<div inject-page-content>

		<ssContentLoadError *ngIf="showLoadError" [message]="loadErrorMessage"></ssContentLoadError>

		<div *ngIf="!showLoadError">

			<mat-form-field [floatLabel]="placeholderPosition">
			  <mat-chip-list #chipList>
			    <ssUserChip *ngFor="let user of invitedUsers" [@fadeInOut] [user]="user" (removeButtonClicked)="onUserChipRemoveButtonClick($event)"></ssUserChip>
			    <input placeholder="Search for friends" [formControl]="inviteInput"
			           [matChipInputFor]="chipList"
			           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
			           [matChipInputAddOnBlur]="addOnBlur"
			           (matChipInputTokenEnd)="add($event)" />
			  </mat-chip-list>
			</mat-form-field>

			<div *ngFor="let person of filteredUsersAndParticipants" class="col-lg-4 col-sm-6 col-12 participant-col">

				<ssUserBigChip *ngIf="isUserObject(person)" #userBigChip [user]="person" [selected]="isUserInvited(person)" (userBigChipClicked)="onUserBigChipClicked($event)" (pictureLoaded)="onPictureLoaded($event)"></ssUserBigChip>

				<ssParticipantBigChip *ngIf="isParticipantObject(person)" [participant]="person" [selected]="true" (pictureLoaded)="onPictureLoaded($event)"></ssParticipantBigChip>
				
			</div>

			<div class="invite-button-wrapper">
				<button mat-raised-button color="accent" (click)="onInviteButtonClick($event)" [disabled]="disableInviteButton">Send Invites</button>
			</div>
			
		</div>
		
	</div>

</ssFormPage>
