<ssFormPage [@fadeInOutOnLoad]="formState" [style.display]="loading ? 'none' : 'block' ">

	<div inject-page-content>

		<h3>Tuesday March 6th 2018, 9:00pm</h3>

		<h4 class="votes-header" style="margin-top: 0px;"><i class="material-icons md-36" style="color: #4CAF50">check</i>Like this time</h4>

		<div class="row votes-row">
			<div class="col-4"  *ngFor="let user of acceptedUsers">
				<ssUserBigChip [user]="user"></ssUserBigChip>
			</div>
		</div>

		<h4 class="votes-header"><i class="material-icons md-36" style="color: red">clear</i>Time Won't Work</h4>

		<div class="row votes-row">
			<div class="col-4"  *ngFor="let user of declinedUsers">
				<ssUserBigChip [user]="user"></ssUserBigChip>
			</div>
		</div>

		<div class="action-buttons">
			<button mat-raised-button >Delete</button>
			<button mat-raised-button color="accent">Set as Official Time</button>
		</div>

		<div class="disclaimer">This page is only a mock up - doesn't actually work.</div>

	</div>

</ssFormPage>
