<div class="dateTimePicker-wrapper">

	<div class="title-wrapper">

		<div class="title-year-wrapper">
			2017
		</div>

		<div class="title-date-wrapper">
			Thu, Apr 13
		</div>

	</div>

	<div class="calendar-wrapper">
		
		<div class="month-selector-row">

			<span class="left-selector">
				<button mat-icon-button>
					<i class="material-icons">keyboard_arrow_left</i>
				</button>
			</span>
			
			<span class="month-title">
				2018
			</span>

			<span class="right-selector">
				<button mat-icon-button>
						<i class="material-icons">keyboard_arrow_right</i>
				</button>	
			</span>
			
		</div>

		<div class="day-header">

			<div class="day-column">
				M
			</div>
				
			<div class="day-column">
				T
			</div>

			<div class="day-column">
				W
			</div>

			<div class="day-column">
				T
			</div>

			<div class="day-column">
				F
			</div>

			<div class="day-column">
				S
			</div>

			<div class="day-column">
				S
			</div>

		</div>

		<div class="days">
		</div>

	</div>

</div>